<div class="date-choices" *ngIf="poll.kind == 'date'">
	<div class="box" *ngFor="let group of poll.choices_grouped">
		<h3 class="title is-3">
			<button
				class="icon button padded"
				(click)="toggleAllOfChoice(group)"
				[ngClass]="{ 'has-background-primary': group.subSetToYes }"
			>
				<i class="fa fa-check-circle-o fa"></i>
			</button>
			{{ showAsDate(group.date_string) | date: 'fullDate':'Europe/Paris' }}
		</h3>
		<div class="time-slice-choice" *ngFor="let choice of group.choices">
			<div class="columns is-vcentered is-mobile">
				<div class="column">
					<label class="label">
						{{ choice.name }}
					</label>
				</div>
				<div class="column is-narrow">
					<span class="max_score" *ngIf="poll.max_score > 0 && choice.score == poll.max_score">
						<i class="fa fa-star fa-2x"></i>
					</span>
				</div>
				<div class="column is-narrow">
					<!--					<button class="button is-white" (click)="openModal(poll, timeSlice)">-->
					<!--						<i class="fa fa-info-circle"></i>-->
					<!--					</button>-->
				</div>
				<div class="column is-narrow">
					<div class="buttons has-addons is-right">
						<!--				TODO limit answers possible with poll allowed_answers-->
						<app-choice-button
							[poll]="poll"
							[choice]="choice"
							[answerKind]="'YES'"
							*ngIf="poll.allowed_answers.indexOf('yes') !== -1"
						></app-choice-button>
						<app-choice-button
							[poll]="poll"
							[choice]="choice"
							[answerKind]="'MAYBE'"
							*ngIf="poll.allowed_answers.indexOf('maybe') !== -1"
						></app-choice-button>
						<app-choice-button
							[poll]="poll"
							[choice]="choice"
							[answerKind]="'NO'"
							*ngIf="poll.allowed_answers.indexOf('no') !== -1"
						></app-choice-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="texts" *ngIf="poll.kind == 'text'">
	<div class="box" *ngFor="let choice of poll.choices">
		<div class="columns is-vcentered is-mobile">
			<div class="column">
				<label class="label" *ngIf="poll.kind == 'text'">{{ choice.name }} </label>
			</div>
			<div class="column is-narrow">
				<span class="max_score" *ngIf="poll.max_score > 0 && choice.score == poll.max_score">
					<i class="fa fa-star fa-2x"></i>
				</span>
			</div>
			<div class="column is-narrow">
				<button class="button is-white" (click)="openModal(poll, choice)">
					<i class="fa fa-info-circle"></i>
				</button>
			</div>
			<div class="column is-narrow">
				<div class="buttons has-addons is-right">
					<!--				TODO limit answers possible with poll allowed_answers-->
					<app-choice-button [poll]="poll" [choice]="choice" [answerKind]="'YES'"></app-choice-button>
					<app-choice-button [poll]="poll" [choice]="choice" [answerKind]="'MAYBE'"></app-choice-button>
					<app-choice-button [poll]="poll" [choice]="choice" [answerKind]="'NO'"></app-choice-button>
				</div>
			</div>
		</div>
	</div>
</div>
