<div class="comments" id="comments">
	<div class="message-body" *ngIf="poll.is_archived">
		⚰️ Ce sondage a expiré, il n'est plus possible d'y ajouter de votes ou de commentaires
	</div>
	<section class="comments-part" *ngIf="!poll.is_archived && poll.comments">
		<!--		comment list-->
		<article class="message-comment" *ngFor="let comment of poll.comments">
			<div class="message-text">
				<div class="header">
					<p class="chapo-paragraph-bold">
						<em class="message-comment-pseudo" *ngIf="comment.pseudo"> {{ comment.pseudo }} </em>
						<em class="message-comment-pseudo" *ngIf="!comment.pseudo"> (somebody) </em>
					</p>
				</div>
				<p class="text">
					{{ comment.text }}
				</p>
				<div class="left-point"></div>
			</div>
			<div class="date date-days-ago">
				{{
					'date_delays.dipslay_comments_delay'
						| translate
							: {
									counter_delay: calculateDaysAgoOfComment(comment.created_at),
									time_unit: 'date_delays.days' | translate
							  }
				}}
				<!--				{{ calculateDaysAgoOfComment(comment.created_at) }} ,-->
			</div>
			<span class="date is-small" *ngIf="display_comment_date">
				{{ comment.created_at | date: 'short':'Europe/Paris' }}
			</span>
		</article>
	</section>

	<section class="add-comment" *ngIf="!poll.is_archived && vote_stack.owner">
		<section class="new-comment-section">
			<div class="header">
				<div class="field"></div>
			</div>
			<div class="message-text-new rounded-block">
				<h2 class="title is-5">
					{{ 'participation.comments_new' | translate }}
				</h2>
				<p>
					Votre commentaire sera directement visible sur la page du sondage.
				</p>
				<label for="comment_pseudo">
					{{ 'participation.name_label' | translate }}
				</label>
				<span class="control has-icons-left">
					<input
						type="text"
						name="crname"
						[(ngModel)]="vote_stack.pseudo"
						id="comment_pseudo"
						required="required"
					/>
					<span class="icon is-small is-left">
						<i class="fa fa-user"></i>
					</span>
				</span>
				<br />
				<label for="new_comment">
					{{ 'participation.content_label' | translate }}
				</label>
				<textarea name="comment" id="new_comment" [(ngModel)]="vote_stack.comment"> </textarea>

				<input
					type="submit"
					name="add-comment"
					class="button is-primary is-fullwidth"
					value="{{ 'participation.send_button' | translate }}"
					(click)="addComment()"
				/>
			</div>
		</section>
	</section>
</div>
