$theme-color-primary: #850003;
$theme-color-secondary: #501016;
$theme-color-tertiary: #ffbca4;

#big_container {
	&.theme-hot-covid {
		background: $theme-color-tertiary;
		color: $theme-color-secondary;

		main {
			background: $white;
		}
		h1::after {
			background-color: $theme-color-primary;
		}

		.btn--primary:focus,
		.btn--primary:hover,
		.btn--primary:active,
		.btn--primary {
			background-color: $theme-color-primary !important;
		}

		// bulma override
		.button.is-primary,
		.button.btn--primary,
		button.is-primary,
		button.btn--primary,
		.is-primary.btn,
		.btn.btn--primary,
		.is-primary.back,
		.back.btn--primary {
			background-color: $theme-color-primary;
			color: $theme-color-tertiary;
		}
		// material override
		.navbar-dropdown a.navbar-item.is-active,
		a.navbar-item:focus,
		a.navbar-item:focus-within,
		a.navbar-item:hover,
		a.navbar-item.is-active,
		.navbar-link:focus,
		.navbar-link:focus-within,
		.navbar-link:hover,
		.navbar-link.is-active {
			color: $theme-color-primary;
		}
	}
}
