<div id="big_container" [class]="themeClass">
	<app-header
		*ngIf="onHomePage || environment.display_menu_creation"
		[appTitle]="appTitle"
		[appLogo]="appLogo"
	></app-header>
	<main [@routeAnimations]="prepareRoute(outlet)">
		<router-outlet #outlet></router-outlet>
	</main>
</div>
<app-footer *ngIf="onHomePage || environment.display_menu_creation"></app-footer>
