<div class="columns is-mobile">
	<div class="column">
		<h1 class="title is-1">Détail des réponses pour "{{ choice.name }}"</h1>
		<hr />
		<table class="is-fullwidth">
			<thead>
				<tr>
					<th>oui</th>
					<th>peut être</th>
					<th>non</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="pseudo" *ngFor="let people of choice.yes.people">
							{{ people }}
						</div>
					</td>
					<td>
						<div class="pseudo" *ngFor="let people of choice.maybe.people">
							{{ people }}
						</div>
					</td>
					<td>
						<div class="pseudo" *ngFor="let people of choice.no.people">
							{{ people }}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
